body {
    font-size: 13px;
    font-family: Helvetica;
    color: white;
    background-color: white;
    background-image: image-set("https://u1.padletusercontent.com/uploads/padlet-uploads/2684631875/eaa7aac8314c57a6607aee7c6c55ae12/Backgroundesasos__1___2_.png?token=mygb9oPb49fe0GtApdeP1nr2m4DDeA9OY4h8jvLooSNihAqMNodhb0P2hfmi3F2PKkzPpaSKW_fgSIc3MtowShFXy5-4wn_B5u7mEu9UrZSMNpsO7tIt2XGQlGOM9JTOfZg1VAm_IPN64JY6XKMTKaESo_4jgXScSnifsT95vj7VpE5IkTddY8gNeh4SoKvhSOQGIP6Q4FWTBEcb9mQ77smRjDuDR1yok3kqnkAqfyN3f2_Tzi2arstpqzTBGkEYLSwwUbpT-uDV3PpjYZCyfQ==");
    background-size: 100%;
    background-position-y: top;
    background-color: white;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
@media (min-width: 600px) {
    body {
    font-size: 25px;
    background-size: 105.1vw;
    }
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}
ul a {
    text-decoration: none;
    display: flex;
    align-items: center;
}
li {
    padding: 1px 4px;
    color: white;
    border-right: solid 1px white;
    font-size: 9px;
}
@media (min-width: 600px) {
    li {
    padding: 1px 15px;
    font-size: 25px;
    }
}
ul a :hover {
    color: rgba(255, 255, 255, 0.55);
}
.mainText {
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    font-size: 15px;
    margin-top: 5vh;
    font-family: 'Times New Roman', Times, serif;
}
@media (min-width: 600px) {
    .mainText {
    font-size: 35px;
    margin-top: 20vh;
    }
}
.segundapag {
    margin-top: 10vh;
    color: black;
    background-color: white;
    flex-wrap: wrap;
}
@media (min-width: 600px) {
    .segundapag {
        margin-top: 47vh;
    }
}

#sobreNos {
    justify-content: center;
    display: flex;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.90);
    position: absolute;
    bottom: 70%;
    left: 30%;
    right: 30%;
}
@media (min-width: 600px) {
    #sobreNos {
        position: absolute;
        left: 40%;
        right: 40%;
        bottom: -10%;
        padding-top: 5px;
        font-size: 30px;
    }
}
main {
    display: flex;
    flex-wrap: wrap;
}
#certificado {
    position: absolute;
    width: 0px;
    height: 0px;
}
@media (min-width: 600px) {
    #certificado {
        bottom: -87%;
        left: 0%;
        width: 432px;
        height: 576px;
    }
}
#local {
    position: absolute;
    float: right;
    right: 1%;
    bottom: 11%;
    width: 42%;
    height: 25.2%;
}
@media (min-width: 600px) {
    #local {
    bottom: -87%;
    right: 0%;
    width: 432px;
    height: 324px;
    }
}

#position {
    position: absolute;
    float: right;
    right: 1%;
    bottom: 33%;
    width: 42%;
    height: 25.2%;
}
@media (min-width: 600px) {
    #position {
        bottom: -55%;
        right: 0%;
        width: 432px;
        height: 324px;
    }
}
#sobreTitulo {

    text-align: justify;
    position: absolute;
    left: 10%;
    bottom: 63%;
    max-width: 80vw;
    font-weight: bold;
    text-align: center;
}
@media (min-width: 600px) {
    #sobreTitulo {
    bottom: -23%;
    left: 35%;
    right: 30%;
    font-size: 24px;
    max-width: 30vw;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.85);
    font-weight: bold;
    text-align: center;
    justify-content: center;
    display: flex;
    }
}
#sobre {
    flex-wrap: wrap;
    position: absolute;
    text-align: justify;
    max-width: 53vw;
    margin-left: 5px;
    bottom: 7%;
    font-size: 12px;
}
@media (min-width: 600px) {
    #sobre {
    max-width: 30vw;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.65);
    position: absolute;
    left: 34.5%;
    bottom: -72%;
    justify-content: center;
    display: flex;
    }
}
#localtexto {
    text-align: center;
    position: absolute;
    max-width: 40vw;
    bottom: 4%;
    right: 2%;
    font-size: 10px;
}
@media (min-width: 600px) {
    #localtexto {
    max-width: 67.55vw;
    position: absolute;
    bottom: -92%;
    right: 2%;
    font-size: 14px;
    }
}
#borda1 {
    position: absolute;
    color: white;
    }
@media (min-width: 600px) {
    #borda1 {
    position: absolute;
    bottom: -105%;
    background-color: blue;
    width: 100%;
    color: blue;
    padding-top: 5px;
    }
}
#borda2 {
    position: absolute;
    color: white;
    }
@media (min-width: 600px) {
    #borda2 {
    position: absolute;
    bottom: -206.1%;
    background-color: blue;
    width: 100%;
    color: blue;
    padding-top: 5px;
    }
}
.terceirapag {
    margin-top: 10vh;
    color: black;
    background-color: white;
    flex-wrap: wrap;
}
@media (min-width: 600px) {
    .terceirapag {
        margin-top: 45.7vh;
    }
}

#servicos {
    position: absolute;
    justify-content: center;
    display: flex;
    bottom: -8%;
    left: 0%;
    right: 30%;
    font-size: 20px;
    border-top: solid black 1px;
    padding-top: 6px;
    width: 100%;
    color: rgba(0, 0, 0, 0.90);
}
@media (min-width: 600px) {
    #servicos {
        position: absolute;
        bottom: -112%;
        left: 0%;
        right: 0%;
        width: auto;
        border: hidden white 0px;
        font-size: 30px;
        justify-content: center;
        display: flex;
    }
}
.square1 {
    position: absolute;
    bottom: -25%;
    left: 5%;
    width: 140px;
    height: 80px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
}
@media (min-width: 600px) {
    .square1 {
    position: absolute;
    bottom: -150%;
    left: 8%;
    width: 300px;
    height: 200px;
    border: solid black 1px;
    }
}
#icone {
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 7%;
    top: 7%;
}
@media (min-width: 600px) {
    #icone {
        width: 70px;
        height: 70px;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 7%;
        top: 7%;
    }
}
#mainTexto {
    color: black;
    position: absolute;
    left: 40%;
    max-width: 20vw;
    text-wrap: wrap;
    font-size: 12px;
    margin-top: 0;
    top: 10%;
}
@media (min-width: 600px) {
    #mainTexto {
    right: 10%;
    max-width: 20vw;
    font-size: 24px;
    }
}
#texto2linha {
    color: black;
    font-size: 8px;
    position: absolute;
    bottom: 5%;
    left: 2%;
}
@media (min-width: 600px) {
    #texto2linha {
        font-size: 18px;
        bottom: 10%;
    }
}
#texto3linha {
    color: black;
    font-size: 8px;
    position: absolute;
    bottom: -5%;
    left: 2%;
}
@media (min-width: 600px) {
    #texto3linha {
        font-size: 18px;
        bottom: 5%;
    }
}



.square2 {
    position: absolute;
    bottom: -25%;
    right: 5%;
    width: 140px;
    height: 80px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
}
@media (min-width: 600px) {
    .square2 {
    position: absolute;
    bottom: -150%;
    left: 39.8%;
    width: 300px;
    height: 200px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    }
}

.square3 {
    position: absolute;
    bottom: -45%;
    left: 5%;
    width: 140px;
    height: 80px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
}
@media (min-width: 600px) {
    .square3 {
    position: absolute;
    bottom: -150%;
    right: 8%;
    left: auto;
    width: 300px;
    height: 200px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    }
}
.square4 {
    position: absolute;
    bottom: -45%;
    right: 5%;
    width: 140px;
    height: 80px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
}
@media (min-width: 600px) {
    .square4 {
    position: absolute;
    bottom: -190%;
    left: 8%;
    width: 300px;
    height: 200px;
    border: solid black 1px;
    }
}
.square5 {
    position: absolute;
    bottom: -65%;
    left: 5%;
    width: 140px;
    height: 80px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
}
@media (min-width: 600px) {
    .square5 {
    position: absolute;
    bottom: -190%;
    left: 39.8%;
    width: 300px;
    height: 200px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    
    }
}
.square6 {
    position: absolute;
    bottom: -65%;
    right: 5%;
    width: 140px;
    height: 80px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
}
@media (min-width: 600px) {
    .square6 {
    position: absolute;
    bottom: -190%;
    right: 8%;
    left: auto;
    width: 300px;
    height: 200px;
    border: solid black 1px;
    display: flex;
    justify-content: center;
    }
}

.quartapag {
    margin-top: 10vh;
    color: black;
    background-color: white;
    flex-wrap: wrap;
}
@media (min-width: 600px) {
    .quartapag {
        margin-top: 45.7vh;
    }
}

#estagio {
    position: absolute;
    bottom: -73%;
    left: 0%;
    font-size: 20px;
    border-top: solid black 1px;
    padding-top: 6px;
    width: 100%;
    color: rgba(0, 0, 0, 0.90);
    justify-content: center;
    display: flex;
}
@media (min-width: 600px) {
    #estagio {
    position: absolute;
    bottom: -212%;
    left: 28%;
    border: hidden;
    font-size: 30px;
    }
}

#estTexto {
    position: absolute;
    bottom: -129%;
    left: 0%;
    font-size: 12px;
    width: 94%;
    left: 3%;
    color: rgba(0, 0, 0, 0.90);
    justify-content: center;
    display: flex;
    text-align: justify;
}
@media (min-width: 600px) {
    #estTexto {
    position: absolute;
    bottom: -240%;
    left: 58%;
    border: hidden;
    font-size: 20px;
    max-width: 40vw;
    }
}
#estFoto {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: -111%;
}
@media (min-width: 600px) {
    #estFoto {
    bottom: -272%;
    width: 56%;
    height: 69.1%;
    left: 0%;
    }
}

#textoExtra {
    position: absolute;
    color: white;
    font-size: 0px;
}


@media (min-width: 600px) {
    #textoExtra {
    position: absolute;
    bottom: -265%;
    left: 58%;
    border: hidden;
    font-size: 20px;
    max-width: 40vw;
    text-align: justify;
    color: black;
    }
}




.noborder {
    border: hidden 0px rgba(255, 255, 255, 0);
}
.header {
    display: flex;
    justify-content: space-between;
}
#logo {
    width: 115px;
    height: 50px;
}
@media (min-width: 600px) {
    #logo {
        width: 230px;
        height: 100px;
    }
    
}

footer {
    float: bottom;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    position: absolute;
    bottom: -135%;
    font-size: 12px;
    border-top: solid 1px black;
    width: 100%;
    color: black;
    background-color: white;
}
@media (min-width: 600px) {
    footer {
        bottom: -273%;
        font-size: 15px;
    }
}